### `Import Libraries`

In [3]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from numpy import diff
from IPython.core.display import HTML, display

### `How Everything in python is Object?`

In [12]:
def hello():
    print("say hello")

hi = hello

hi()

hello()

say hello
say hello

### `Comprehension`
- The shorthand syntax for creating collections and iterable objects.

In [15]:
items = ["apple","mango","banana"]

- **`List Comprehension:`**

In [23]:
print([item=="mango" for item in items])
print([item if item=="mango" else "NA" for item in items])

[False, True, False]
['NA', 'mango', 'NA']

### `Set Comprehension`

In [24]:
print({ item if item=="mango" else "NA" for item in items })

{'mango', 'NA'}

### `Dictionary Comprehension`

In [52]:
dict = {"id1":"mango","id2":"banana"}

print(dict)
print(dict.items())
print(list(dict.items()))
print(list(key for key, value in dict.items()))
print(list(value for key, value in dict.items()))
print({item for item in dict.items()})
print({key for key,value in dict.items()})
print({key=="id1" for key, value in dict.items()})
print({key if key=="id1" else "NA" for key, value in dict.items()})
print({value if key=="id1" else "NA" for key, value in dict.items()})

{'id1': 'mango', 'id2': 'banana'}
dict_items([('id1', 'mango'), ('id2', 'banana')])
[('id1', 'mango'), ('id2', 'banana')]
['id1', 'id2']
['mango', 'banana']
{('id1', 'mango'), ('id2', 'banana')}
{'id1', 'id2'}
{False, True}
{'id1', 'NA'}
{'mango', 'NA'}

### `Multiple Comprehension`

In [56]:
# One Way
values = [(x,y) for x in range(5) for y in range(3)]
print(values)

# Second Way
values = []
for x in range(5):
    for y in range(3):
        values.append((x,y))
print(values)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2), (3, 0), (3, 1), (3, 2), (4, 0), (4, 1), (4, 2)]
[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2), (3, 0), (3, 1), (3, 2), (4, 0), (4, 1), (4, 2)]

### `Nested Comprehension`

In [59]:
# One Way
values = [[y*3 for y in range(x)] for x in range(10)]
print(values)

# Second Way
values = []
for x in range(10):
    inner = []
    for y in range(x):
        inner.append(y*3)
    values.append(inner)
print(values)

[[], [0], [0, 3], [0, 3, 6], [0, 3, 6, 9], [0, 3, 6, 9, 12], [0, 3, 6, 9, 12, 15], [0, 3, 6, 9, 12, 15, 18], [0, 3, 6, 9, 12, 15, 18, 21], [0, 3, 6, 9, 12, 15, 18, 21, 24]]
[[], [0], [0, 3], [0, 3, 6], [0, 3, 6, 9], [0, 3, 6, 9, 12], [0, 3, 6, 9, 12, 15], [0, 3, 6, 9, 12, 15, 18], [0, 3, 6, 9, 12, 15, 18, 21], [0, 3, 6, 9, 12, 15, 18, 21, 24]]

### `Extended Keyword Arguments`

In [68]:
def hyperVolume(*lengths):
    i = iter(lengths)
    print("lengths --> ", lengths)
    print("i --> ", i)
    v = next(i)
    print("v --> ", v)
    print("next(i) --> ", next(i))
    print("next(i) --> ", next(i))
    print("Inside Loop :")
    for length in i:
        print("     >> v --> ", v)
        print("     >> length --> ", length)
        v *= length
    return v

print("Final Output: ", hyperVolume(1, 2, 3, 4, 5))

lengths -->  (1, 2, 3, 4, 5)
i -->  <tuple_iterator object at 0x7f90ca556b50>
v -->  1
next(i) -->  2
next(i) -->  3
Inside Loop :
     >> v -->  1
     >> length -->  4
     >> v -->  4
     >> length -->  5
Final Output:  20

In [89]:
# *args => tuple
# **kwargs => dict
def sample_func1(arg1, arg2, *args):
    print("*args")
    print("--"*5)
    print(arg1)
    print(arg2)
    print(type(args))
    print(args)
    print("\n")

def sample_func2(kwarg1, **kwargv):
    print("**kwargv")
    print("--"*5)
    print(type(kwarg1))
    print(kwarg1)
    print(type(kwargv))
    print(kwargv)


t = (1, 2, 3, 4, 5)
sample_func1(*t)

t1 = {"a":"a"}
t2 = {"1":"1", "2":"2", "3":"3", "4":"4", "5":"5"}
sample_func2(t1, **t2)

*args
----------
1
2
<class 'tuple'>
(3, 4, 5)


**kwargv
----------
<class 'dict'>
{'a': 'a'}
<class 'dict'>
{'1': '1', '2': '2', '3': '3', '4': '4', '5': '5'}

### `HTML display`

In [6]:
display(HTML("<h1>Hello, world!</h1>"))

df_sample = pd.DataFrame({"a":[1,2], "b":["sdfsdfsdffsfcdgfhgfhfghsfafdsgfdhgfjfgnghkuiukj,hjhjdfgdsfsadsdf","sdfsdf"], 
                          "starttimestamp":["2021-01-10T01:01:23Z","2021-01-10T02:01:23Z"]})

display(HTML(df_sample.to_html())) # This shows complete content in the dataframe
df_sample

   a                                                  b        starttimestamp
0  1  sdfsdfsdffsfcdgfhgfhfghsfafdsgfdhgfjfgnghkuiuk...  2021-01-10T01:01:23Z
1  2                                             sdfsdf  2021-01-10T02:01:23Z

### `Converting Datetime into Required format`

In [8]:
df_sample["starttimestamp"] = pd.to_datetime(df_sample["starttimestamp"]).dt.strftime("%Y-%m-%d %H:%M:%S") # Convert into string datatype format
df_sample["starttimestamp"] = pd.to_datetime(df_sample["starttimestamp"]) # Convert into datetime datatype format

### `Sorting data using Datetime`

In [10]:
df_sample.sort_values(by=["starttimestamp"], ascending=True, inplace=True)

display(HTML(df_sample.to_html()))

### `Getting Year, Month, Date from Datetime column`

In [11]:
df_sample["Year"] = df_sample["starttimestamp"].dt.year
df_sample["Month"] = df_sample["starttimestamp"].dt.month
df_sample["Date"] = df_sample["starttimestamp"].dt.date

display(HTML(df_sample.to_html()))

### `Dummy Variables Creation`

In [15]:
df_sample = pd.DataFrame({"a":[1,2], "b":["xxxx","yyyy"]})

display(HTML(df_sample.to_html()))

df_recipe_dummies = pd.get_dummies(df_sample.loc[:,["b"]])

display(HTML(df_recipe_dummies.to_html()))

### `Check if list string element contains text`

In [17]:
some_list = ["abc-123", "def-456", "ghi-789", "abc-456"]

matching = [s for s in some_list if "abc" in s]

print(matching)

['abc-123', 'abc-456']

### `Purpose of showing %matplotlib inline`
  - In order to avoid showing pop up images & rather showing image inside the jupyter notebook

### `Iterate between two lists`

In [22]:
foo = [10, 20]
bar = [1, 2]
print("One Way")
print("--"*5)
for f,b in zip(foo, bar):
    print(f, b)

# or 

result = zip(foo, bar)
print("Second Way")
print("--"*5)
for res in result:
    print(res[0], res[1])

One Way
----------
10 1
20 2
Second Way
----------
10 1
20 2

### `Multi dimension List into Dataframe`

In [3]:
# List1
lst = [["apple", "red", 11], ["grape", "green", 22]]
df = pd.DataFrame(lst, columns=["Fruits", "Color", "Value"], dtype=int)
print(df.dtypes)
print(df)

Fruits    object
Color     object
Value      int64
dtype: object
  Fruits  Color  Value
0  apple    red     11
1  grape  green     22

### `Append two dataframes`

In [5]:
df_1 = pd.DataFrame({"A":[1,2],"B":[10,20]})
df_2 = pd.DataFrame({"A":[11,22],"B":[111,222],"c":[1111,2222]})

df_final = pd.DataFrame({})

df_final = df_final.append(df_1, ignore_index=True)
print("Appending df_1 :")
print("--"*6)
print(df_final)

df_final = df_final.append(df_2, ignore_index=True)
print("Appending df_1 + df_2 :")
print("--"*12)
print(df_final)

Appending df_1 :
------------
   A   B
0  1  10
1  2  20
Appending df_1 + df_2 :
------------------------
    A    B       c
0   1   10     NaN
1   2   20     NaN
2  11  111  1111.0
3  22  222  2222.0

### `Replace Value`

In [7]:
df = pd.DataFrame({"col1":[1,2], "col2":[11,22], "col3":[10,20]})
print(df)
df= df.replace(to_replace=11, value=101, method='ffill')
df

   col1  col2  col3
0     1    11    10
1     2    22    20

   col1  col2  col3
0     1   101    10
1     2    22    20

### `Looping On Multiple Columns`

In [5]:
df = pd.DataFrame({"col1":[1,2], "col2":[11,22], "col3":[10,20]})

for col1, col2, col3 in zip(df['col1'], df['col2'], df['col3']):
    print(col1, col2, col3)

1 11 10
2 22 20

### `1st Derivative / Gradient Descent on Single array`

In [2]:
dx = 1
y = [10, 8, 30, 14, 24, 35, 26]
dy = diff(y)/dx
print(dy)

[ -2.  22. -16.  10.  11.  -9.]

In [3]:
y = [10, 8, 30, 14, 24, 35, 26]
dy = diff(y)
print(dy)

[ -2  22 -16  10  11  -9]

### `Pop python list`

In [4]:
l = list(range(1, 5))
print(l)    # [1, 2, 3, 4]
l.pop()
print(l)    # [1, 2, 3]

[1, 2, 3, 4]
[1, 2, 3]