#### `Import Libraries`

In [1]:
import pandas as pd
import numpy as np
from IPython.core.display import display, HTML, Image

#### `Sample Data`

In [2]:
df = pd.DataFrame({"Value":[1,2,3],"Category":["Category A", "Category B", "Category C"]})
df["Value"] = df["Value"].astype(str)
df

  Value    Category
0     1  Category A
1     2  Category B
2     3  Category C

In [3]:
display(df.style.applymap(lambda x: "background-color : {}".format("yellow") if x == "{}".format("Category A") else "background-color : {}".format("steelblue")) \
                .applymap(lambda x: "color : {}".format("green") if x == "{}".format("Category A") else "color : {}".format("yellow")) \
                .set_caption("Pandas Dataframe Styling").set_table_styles([{"selector": "caption",  \
                                                                            "props":[("color", "steelblue"), \
                                                                                     ("font-size", "12px")]}]) \
                .set_precision(2) \
                .background_gradient()
        )

In [7]:
display(df.style.applymap(lambda x: "background-color : {}".format("yellow") if x == "{}".format("Category A") else "background-color : {}".format("steelblue")) \
                .applymap(lambda x: "background-color : {}".format("grey") if x == "{}".format("Category B") else "background-color : {}".format("")) \
                .applymap(lambda x: "background-color : {}".format("green") if x == "{}".format("Category C") else "background-color : {}".format("")) \
                .applymap(lambda x: "color : {}".format("red") if x == "{}".format("Category A") else "color : {}".format("")) \
                .background_gradient()
        )