#### `Import Libraries`

In [53]:
import pandas as pd
import numpy as np
from pipe import select, where, chain, traverse, groupby, dedup

In [10]:
!pip install pipe

Collecting pipe
  Downloading https://files.pythonhosted.org/packages/50/aa/2c7d8e1131d709d009deb9919c29ee8b1e1b2997034cbd4a440fddbf1d3e/pipe-1.6.0-py2.py3-none-any.whl
Installing collected packages: pipe
Successfully installed pipe-1.6.0

#### `Old Code Standards Using - Map & Filters`
- map and filter are two efficient Python methods to work with iterables. However, the code can look messy if you use both map and filter at the same time.

- `Filter`

In [6]:
arr = [1, 2, 3, 4, 5]
##### filter selects only condition matched values from list #####
arr_1 = list(filter(lambda x: x % 2 == 0, arr))
arr_1

[2, 4]

- `Map`

In [8]:
arr = [1, 2, 3, 4, 5]
##### map makes left argument action on filtered items of 2nd argument  #####
arr_1 = list(map(lambda x: x * 100, filter(lambda x: x % 2 == 0, arr)))
arr_1

[200, 400]

#### `New Code Standards Using - Pipe`
- **What is Pipe ?** : A pipe (|) passes the results of one method to another method. 
- I like Pipe because it makes my code look cleaner when applying multiple methods to a Python iterable. 
  - `Where` — where method filters Elements in an Iterable
  - `Select` - select method is similar to the map method. select applies a method to each element of an iterable.

- `Where`

In [14]:
arr = [1, 2, 3, 4, 5]
list(arr | where(lambda x: x % 2 == 0 ))

[2, 4]

- `Select`

In [15]:
arr = [1, 2, 3, 4, 5]
list(arr | select(lambda x: x * 100 ))

[100, 200, 300, 400, 500]

- `where + select`

In [16]:
arr = [1, 2, 3, 4, 5]
list(arr | where(lambda x: x % 2 == 0 )
         | select(lambda x: x * 100 ))

[200, 400]

- `chain`
  - It can be a pain to work with a nested iterable. Luckily, you can use chain to chain a sequence of iterables.
  - It can avoid lot of multi nested codes to undo nested list

In [41]:
nested = [[1, 2, [3]], [4], [5, 6]]
print("Shallow Undoing Nested Lists : ",list(nested | chain))

Shallow Undoing Nested Lists :  [1, 2, [3], 4, 5, 6]

- To deal with a deeply nested list, we can use traverse instead
- `traverse` — Recursively Unfold Iterables
  - use this method to turn a deeply nested list into a flat list.

In [42]:
nested = [[1, 2, [3]], [4], [5, 6]]
print("Undoing Nested Lists : ",list(nested | traverse))

Undoing Nested Lists :  [1, 2, 3, 4, 5, 6]

- `select + traverse`

In [40]:
fruits_dictr = [{"Name":"Apple", "Price":[40]},
                {"Name":"Mango", "Price":[80, 100]},
                {"Name":"Strawberry", "Price":[80]},
                {"Name":"Orange", "Price":[35]},
                {"Name":"Grapes", "Price":[40]}]

print("Getting Dictionary Fruits Name : ", list(fruits_dictr | select(lambda fruit : fruit["Name"])))
print("Getting Dictionary Price Values Which is Nested Lists : ", list(fruits_dictr | select(lambda fruit : fruit["Price"])))
print("Getting Dictionary Price Values & Undoing Nested Lists : ", list(fruits_dictr | select(lambda fruit : fruit["Price"]) \
                                                                                     | traverse))

Getting Dictionary Fruits Name :  ['Apple', 'Mango', 'Strawberry', 'Orange', 'Grapes']
Getting Dictionary Price Values Which is Nested Lists :  [[40], [80, 100], [80], [35], [40]]
Getting Dictionary Price Values & Undoing Nested Lists :  [40, 80, 100, 80, 35, 40]

- `Without Pipe getting Dictionary Key & Value`

In [33]:
print("Dictionary Keys : ", list(fruits_dictr[0].keys()))
print("First Dictionary Item [Name] : ", fruits_dictr[0]["Name"])
print("First Dictionary Item [Price] : ", fruits_dictr[0]["Price"])

Dictionary Keys :  ['Name', 'Price']
First Dictionary Item [Name] :  Apple
First Dictionary Item [Price] :  [40]

- `groupby`
  - group elements in a list

In [44]:
list(
    (1,2,3,4,5,6,7,8,9)
    | groupby(lambda x: "Even" if x%2==0 else "Odd")
)

[('Even', <itertools._grouper at 0x7f954637e6d0>),
 ('Odd', <itertools._grouper at 0x7f954637e0d0>)]

In [47]:
list(
    (1,2,3,4,5,6,7,8,9)
    | groupby(lambda x: "Even" if x%2==0 else "Odd")
    | select(lambda x: x[0])
)

['Even', 'Odd']

In [50]:
list(
    (1,2,3,4,5,6,7,8,9)
    | groupby(lambda x: "Even" if x%2==0 else "Odd")
    | select(lambda x: list(x[1])) # Looping through nested list of odd & even
)

[[2, 4, 6, 8], [1, 3, 5, 7, 9]]

In [52]:
list(
    (1,2,3,4,5,6,7,8,9)
    | groupby(lambda x: "Even" if x%2==0 else "Odd") # groupby to group numbers into theEven group and theOdd group
    | select(lambda x: {x[0]: list(x[1])}) # list of tuples into a list of dictionaries
)

[{'Even': [2, 4, 6, 8]}, {'Odd': [1, 3, 5, 7, 9]}]

- `dedup`
  - dedup method removes duplicates in a list.

In [54]:
arr = [1, 1, 2, 3, 4, 4, 6, 7, 7, 8]
list(arr | dedup)

[1, 2, 3, 4, 6, 7, 8]

- `set - without pipe`

In [55]:
arr = [1, 1, 2, 3, 4, 4, 6, 7, 7, 8]
set(arr)

{1, 2, 3, 4, 6, 7, 8}

- get a unique element that is smaller than 5 and another unique element that is larger than or equal to 5.

In [57]:
arr = [1, 1, 2, 3, 4, 4, 6, 7, 7, 8]
list(arr | dedup(lambda key : key))

[1, 2, 3, 4, 6, 7, 8]

In [58]:
list(arr | dedup(lambda key : key < 2))

[1, 2]

In [74]:
fruits_dictr = [{"Name":"Apple", "Price":40},
                {"Name":"Apple", "Price":45},
                {"Name":"Mango", "Price":80},
                {"Name":"Strawberry", "Price":80},
                {"Name":"Orange", "Price":35},
                {"Name":"Grapes", "Price":40}]

list(fruits_dictr
     | dedup(key=lambda fruit: fruit["Name"]))

[{'Name': 'Apple', 'Price': 40},
 {'Name': 'Mango', 'Price': 80},
 {'Name': 'Strawberry', 'Price': 80},
 {'Name': 'Orange', 'Price': 35},
 {'Name': 'Grapes', 'Price': 40}]

In [75]:
list(fruits_dictr
     | dedup(key=lambda fruit: fruit["Name"])
     | select(lambda fruit: fruit["Price"]))

[40, 80, 80, 35, 40]

In [76]:
list(fruits_dictr
     | dedup(key=lambda fruit: fruit["Name"])
     | select(lambda fruit: fruit["Price"]*2))

[80, 160, 160, 70, 80]

In [77]:
list(fruits_dictr
     | dedup(key=lambda fruit: fruit["Name"])
     | select(lambda fruit: fruit["Price"])
     | where(lambda price: isinstance(price, int)))

[40, 80, 80, 35, 40]

In [78]:
list(fruits_dictr
     | dedup(key=lambda fruit: fruit["Name"])
     | select(lambda fruit: fruit["Price"])
     | where(lambda price: price >= 80))

[80, 80]